<ion-view title="Categorias">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
      <div class='categorias-container'>
        
          <ul class='text-center'>
          <li ng-repeat='categoria in categorias'>
            <a ui-sref='menu.productos({category_id: categoria.id})'>{{categoria.categoryName}}</a>      
          </li>
          </ul>

          <ul>
            <li class='text-center'>
                <a ui-sref='menu.productos'>Todos</a>       
            </li>
          </ul>

      </div>
    </ion-content>
</ion-view>