<ion-view title="Seleccione Ubicación">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
      
    <div class='city-container text-center'>
      
      <ul>
      <li ng-repeat='city in cities' ng-if='cities.length > 0'>
        <a ui-sref="menu.farmacias">{{city.cityName}}</a>  
      </li>
        </ul>

      <ul>
      <li ng-repeat='city in cities' ng-if='cities.length < 0'>
        <a ui-sref="menu.farmacias">{{city.cityName}}</a>       
      </li>
        </ul>

    </div>


    </ion-content>
</ion-view>