<ion-view title="Donaciones">
<ion-content overflow-scroll="true" padding="true" class="has-header">

<h4 class='text-center'>A que fundacion va a donar ?</h4>
<ion-list>

<ul ng-repeat="fundation in fundations">
  <li>
    <ion-checkbox ng-model="fundation.selected" >{{fundation.name}}, {{fundation.selected}}</ion-checkbox>
  </li>  
</ul>
</ion-list>

<div class="list list-inset">
  <label class="item item-input">
  <input type="text" placeholder="Nombre del producto" ng-model = 'donation.product'>
  </label>
  <label class="item item-input">
    <input type="number" placeholder="Cantidad" min='1' max='100' ng-model = 'donation.Quantity' >
  </label>
</div>

<button class="button button-full button-dark text-center" ng-click="donate()">
  Donar!
</button>

</ion-content>
</ion-view>