<ion-view title="Farmacias">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
    <div class='farmacia-container'>
      
      <ul class='text-center'>
      	<li ng-repeat='farmacia in farmacias'>
          <a ui-sref='menu.categorias({id: farmacia.id})' ng-click='getProducts(farmacia,farmacia.id)'>{{farmacia.name}}</a>
      	</li>
      </ul>

    </div>
    </ion-content>
</ion-view>