<ion-view title="Home">
    <ion-content overflow-scroll="true" padding="true" style="background-color:#41c5d9;" class="has-header">
        <form class="list"></form>
        <div style="text-align:center;">
            <img src="img/logo1.jpg" width="50%" height="auto">
        </div>
        <form class="list"></form>
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Búsqueda de Productos" ng-model='input.name'>
            </label>
                <ul ng-repeat='producto in productos | filter:producto.name' ng-show ='producto.name == input.name'>
                    <li>
                        <a class='product-btn'>{{producto.name}}</a>
                        <a ng-click='getPharmacies(producto.id)'>Ver Farmacias</a>
                    </li>
                </ul>                

                <ul ng-repeat='pharmacy in pharmacies'>
                    <li>
                        <a class='product-btn'>{{pharmacy.pharmacy.name}}</a>
                        <a class='product-btn'>{{pharmacy.pharmacy.address}}</a>
                    </li>
                </ul>
        </form>
        <a ui-sref="menu.ciudad" id="home-button10" class="button button-calm  button-block">
        <img class ='menu-icon'src="/img/city.svg" alt="">
        Ciudades
        </a>
        <a ui-sref="menu.farmacias" id="home-button11" class="button button-calm  button-block">
        <img class ='menu-icon'src="/img/medical.svg" alt="">
        Farmacias
        </a>
        <a ui-sref="menu.donaciones" id="home-button12" class="button button-calm  button-block">
        <img class ='menu-icon'src="/img/donate.svg" alt="">
        Donaciones
        </a>
        <a ui-sref="menu.perfil" id="home-button12" class="button button-calm  button-block">
        <img class ='menu-icon'src="/img/social.svg" alt="">
        Perfil
        </a>        
        <form class="list"></form>
    </ion-content>
</ion-view>