<ion-view title="Login">
    <ion-content overflow-scroll="true" padding="true" class="has-header" style="background-color:#41c5d9;">
                <div style="text-align:center;">
            <img src="img/logo1.jpg" width="50%" height="auto">
        </div>
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input ng-model='user.email' type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input ng-model='user.password' type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ng-click='access()'ui-sref="menu.home" id="login-button13" class="button button-stable  button-block">Log in</a>
            <a ui-sref="anon.signup" id="login-button14" class="button button-calm  button-block button-outline">Or create an account</a>
        </form>
    </ion-content>
</ion-view>