<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
            <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <ion-list>
                <ion-item ui-sref="menu.home" menu-close="">
                  <img class ='menu-icon'src="/img/home.svg" alt="">
                  Home
                </ion-item>
                <ion-item ui-sref="menu.compras" menu-close="">
                    <img class ='menu-icon'src="/img/commerce.svg" alt="">
        
                Compras</ion-item>
                <ion-item ui-sref="menu.donaciones" menu-close="">
                    <img class ='menu-icon'src="/img/people.svg" alt="">
        
                Donaciones</ion-item>
                <ion-item ui-sref="menu.cloud" menu-close="">
                    <img class ='menu-icon'src="/img/profile.svg" alt="">
        
                Perfil</ion-item>
                <ion-item ui-sref="anon.login" menu-close="" ng-click="logout()">
                    <img class ='menu-icon'src="/img/exit.svg" alt="">
        
                Cerrar Sesion</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>