<ion-view title="Productos">
    <ion-content overflow-scroll="true" padding="true" class="has-header">

	    <ul class='text-center'>
    	<li ng-repeat='producto in productos' ng-if='productos.length > 0'>
      
      <div class='product-container text-center'>
        
        <div ng-if='(producto.name == "Atamel")' class='img-container'>        
          <img width='200px' height='140px' class ='img-caracteristicas'src="img/Caja-Atamel.jpg" alt="" ng-if='(producto.name == "Atamel")'>
          <h4> {{producto.name}} <h4>    
          <b>Precio: </b>{{producto.price}}BsF<br>
          <b>Select Quantity:</b>
                <label class="q-item quantity-input">
                    <input ng-model='bill.bill_details_attributes[0].quantity' type="number" placeholder="" max="20" min='1'>
                </label>
          <a class='comprar-btn' ng-click='purchase(producto.id)'>Comprar</a><br>
          <hr class='divider'>
        </div>

        <div ng-if='(producto.name == "Ibuprofeno")' class='img-container'>        
          <img width='200px' height='140px' class ='img-caracteristicas'src="img/ibuprofeno.jpg" alt="" ng-if='(producto.name == "Ibuprofeno")'>
          <h4> {{producto.name}} <h4>    
          <b>Precio: </b>{{producto.price}}BsF
          <b>Select Quantity:</b>
                <label class="q-item quantity-input">
                    <input ng-model='bill.bill_details_attributes[0].quantity' type="number" placeholder="" max="20" min='1'>
                </label>
          <a class='comprar-btn' ng-click='purchase(producto.id)'>Comprar</a><br>
          <hr class='divider'>
        </div>       
        
        <div ng-if='(producto.name == "Aspirina")' class='img-container'>        
          <img width='200px' height='140px' class ='img-caracteristicas'src="img/aspirina.jpg" alt="" ng-if='(producto.name == "Aspirina")'>
          <h4> {{producto.name}} <h4>    
          <b>Precio: </b>{{producto.price}}BsF
          <a class='comprar-btn'>Comprar</a><br>
          <hr class='divider'>
        </div>

        <div ng-if='(producto.name == "Tiocolfen")' class='img-container'>        
          <img width='200px' height='140px' class ='img-caracteristicas'src="img/tiocolfen.jpg" alt="" ng-if='(producto.name == "Tiocolfen")'>
          <h4> {{producto.name}} <h4>    
          <b>Precio: </b>{{producto.price}}BsF
          <a class='comprar-btn'>Comprar</a><br>
          <hr class='divider'>
        </div>

          <div ng-if='(producto.name == "Loratadina")' class='img-container'>        
          <img width='200px' height='140px' class ='img-caracteristicas'src="img/loratadina.jpg" alt="" ng-if='(producto.name == "Loratadina")'>
          <h4> {{producto.name}} <h4>    
          <b>Precio: </b>{{producto.price}}BsF
          <a class='comprar-btn'>Comprar</a><br>
          <hr class='divider'>
        </div>

        <div ng-if='(producto.name == "benadryl")' class='img-container'>        
          <img width='200px' height='140px' class ='img-caracteristicas'src="img/benadryl.png" alt="" ng-if='(producto.name == "benadryl")'>
          <h4> {{producto.name}} <h4>    
          <b>Precio: </b>{{producto.price}}BsF
          <a class='comprar-btn'>Comprar</a><br>
          <hr class='divider'>
        </div>       
        
        <div ng-if='(producto.name == "quadriderm")' class='img-container'>        
          <img width='200px' height='140px' class ='img-caracteristicas'src="img/quadriderm.jpg" alt="" ng-if='(producto.name == "quadriderm")'>
          <h4> {{producto.name}} <h4>    
          <b>Precio: </b>{{producto.price}}BsF
          <a class='comprar-btn'>Comprar</a><br>
          <hr class='divider'>
        </div>

        <div ng-if='(producto.name == "alergitrat")' class='img-container'>        
          <img width='200px' height='140px' class ='img-caracteristicas'src="img/alergitrat.jpg" alt="" ng-if='(producto.name == "alergitrat")'>
          <h4> {{producto.name}} <h4>    
          <b>Precio: </b>{{producto.price}}BsF
          <a class='comprar-btn'>Comprar</a><br>
          <hr class='divider'>
        </div>

        <div ng-if='(producto.name == "Amoxicilina")' class='img-container'>        
          <img width='200px' height='140px' class ='img-caracteristicas'src="img/amoxicilina.jpg" alt="" ng-if='(producto.name == "Amoxicilina")'>
          <h4> {{producto.name}} <h4>    
          <b>Precio: </b>{{producto.price}}BsF
          <a class='comprar-btn'>Comprar</a><br>
          <hr class='divider'>
        </div>       
        
        <div ng-if='(producto.name == "Penicilina")' class='img-container'>        
          <img width='200px' height='140px' class ='img-caracteristicas'src="img/penicilina.jpg" alt="" ng-if='(producto.name == "Penicilina")'>
          <h4> {{producto.name}} <h4>    
          <b>Precio: </b>{{producto.price}}BsF
          <a class='comprar-btn'>Comprar</a><br>
          <hr class='divider'>
        </div>

        <div ng-if='(producto.name == "Ampicilina")' class='img-container'>        
          <img width='200px' height='140px' class ='img-caracteristicas'src="img/ampicilina.jpg" alt="" ng-if='(producto.name == "Ampicilina")'>
          <h4> {{producto.name}} <h4>    
          <b>Precio: </b>{{producto.price}}BsF
          <a class='comprar-btn'>Comprar</a><br>
          <hr class='divider'>
        </div>
      </div> 


      </li>
        </ul>

<!-- Mamarrachada de codigo ! -->

      <ul class='text-center'>
      <li ng-repeat='producto in productos' ng-if='productos.length > 0'>
      
      <div class='product-container'>
        
        <div ng-if='(producto.product.name == "Atamel")' class='img-container'>        
          <img width='200px' height='140px' class ='img-caracteristicas'src="img/Caja-Atamel.jpg" alt="" ng-if='(producto.product.name == "Atamel")'>
          <h4> {{producto.product.name}} <h4>    
          <b>Precio: </b>{{producto.product.price}}BsF<br>
          <b>Select Quantity:</b>
           <input type="text" placeholder="Escriba la cantidad deseada" class='quantity-input text-center'>
          <a class='comprar-btn'>Comprar</a><br>
          <hr class='divider'>
        </div>

        <div ng-if='(producto.product.name == "Ibuprofeno")' class='img-container'>        
          <img width='200px' height='140px' class ='img-caracteristicas'src="img/ibuprofeno.jpg" alt="" ng-if='(producto.product.name == "Ibuprofeno")'>
          <h4> {{producto.product.name}} <h4>    
          <b>Precio: </b>{{producto.product.price}}BsF
          <a class='comprar-btn'>Comprar</a><br>
          <hr class='divider'>
        </div>       
        
        <div ng-if='(producto.product.name == "Aspirina")' class='img-container'>        
          <img width='200px' height='140px' class ='img-caracteristicas'src="img/aspirina.jpg" alt="" ng-if='(producto.product.name == "Aspirina")'>
          <h4> {{producto.product.name}} <h4>    
          <b>Precio: </b>{{producto.product.price}}BsF
          <a class='comprar-btn'>Comprar</a><br>
          <hr class='divider'>
        </div>

        <div ng-if='(producto.product.name == "Tiocolfen")' class='img-container'>        
          <img width='200px' height='140px' class ='img-caracteristicas'src="img/tiocolfen.jpg" alt="" ng-if='(producto.product.name == "Tiocolfen")'>
          <h4> {{producto.product.name}} <h4>    
          <b>Precio: </b>{{producto.product.price}}BsF
          <a class='comprar-btn'>Comprar</a><br>
          <hr class='divider'>
        </div>

          <div ng-if='(producto.product.name == "Loratadina")' class='img-container'>        
          <img width='200px' height='140px' class ='img-caracteristicas'src="img/loratadina.jpg" alt="" ng-if='(producto.product.name == "Loratadina")'>
          <h4> {{producto.product.name}} <h4>    
          <b>Precio: </b>{{producto.product.price}}BsF
          <a class='comprar-btn'>Comprar</a><br>
          <hr class='divider'>
        </div>

        <div ng-if='(producto.product.name == "benadryl")' class='img-container'>        
          <img width='200px' height='140px' class ='img-caracteristicas'src="img/benadryl.png" alt="" ng-if='(producto.product.name == "benadryl")'>
          <h4> {{producto.product.name}} <h4>    
          <b>Precio: </b>{{producto.product.price}}BsF
          <a class='comprar-btn'>Comprar</a><br>
          <hr class='divider'>
        </div>       
        
        <div ng-if='(producto.product.name == "quadriderm")' class='img-container'>        
          <img width='200px' height='140px' class ='img-caracteristicas'src="img/quadriderm.jpg" alt="" ng-if='(producto.product.name == "quadriderm")'>
          <h4> {{producto.product.name}} <h4>    
          <b>Precio: </b>{{producto.product.price}}BsF
          <a class='comprar-btn'>Comprar</a><br>
          <hr class='divider'>
        </div>

        <div ng-if='(producto.product.name == "alergitrat")' class='img-container'>        
          <img width='200px' height='140px' class ='img-caracteristicas'src="img/alergitrat.jpg" alt="" ng-if='(producto.product.name == "alergitrat")'>
          <h4> {{producto.product.name}} <h4>    
          <b>Precio: </b>{{producto.product.price}}BsF
          <a class='comprar-btn'>Comprar</a><br>
          <hr class='divider'>
        </div>

        <div ng-if='(producto.product.name == "Amoxicilina")' class='img-container'>        
          <img width='200px' height='140px' class ='img-caracteristicas'src="img/amoxicilina.jpg" alt="" ng-if='(product.producto.name == "Amoxicilina")'>
          <h4> {{producto.product.name}} <h4>    
          <b>Precio: </b>{{producto.product.price}}BsF
          <a class='comprar-btn'>Comprar</a><br>
          <hr class='divider'>
        </div>       
        
        <div ng-if='(producto.product.name == "Penicilina")' class='img-container'>        
          <img width='200px' height='140px' class ='img-caracteristicas'src="img/penicilina.jpg" alt="" ng-if='(producto.product.name == "Penicilina")'>
          <h4> {{producto.product.name}} <h4>    
          <b>Precio: </b>{{producto.product.price}}BsF
          <a class='comprar-btn'>Comprar</a><br>
          <hr class='divider'>
        </div>

        <div ng-if='(producto.product.name == "Ampicilina")' class='img-container'>        
          <img width='200px' height='140px' class ='img-caracteristicas'src="img/ampicilina.jpg" alt="" ng-if='(producto.product.name == "Ampicilina")'>
          <h4> {{producto.product.name}} <h4>    
          <b>Precio: </b>{{producto.product.price}}BsF
          <a class='comprar-btn'>Comprar</a><br>
          <hr class='divider'>
        </div>
      </div> 


      </li>
        </ul>

    </ion-content>
</ion-view>