<ion-view title="Signup">
    <ion-content overflow-scroll="true" padding="true" style="background-color:white;" class="has-header" scroll="false" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="name" ng-model='user.name'>

                </label>
                <label class="item item-input">
                    <span class="input-label">Apellido</span>
                    <input type="text" placeholder="apellido" ng-model = 'user.lastname'>
                </label>
                <label class="item item-input">
                    <span class="input-label">Telefono</span>
                    <input type="text" placeholder="telefono" ng-model = 'user.phone'>
                </label> 
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="email" ng-model = 'user.email'>
                </label>
                <label class="item item-input">
                    <span class="input-label">Direccion</span>
                    <input type="text" placeholder="direccion" ng-model = 'user.address'>
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="password" ng-model = 'user.password'>
                    </label>
                
            </ion-list>
            <!-- <a id="signup-button15" class="button button-stable  button-block" ng-click = 'createUser()' >Sign up</a> -->
            <a ui-sref="menu.home" id="signup-button15" class="button button-stable  button-block" ng-click = 'createUser()' >Sign up</a>
        </form>
    </ion-content>
</ion-view>